<md-dialog class="mdc-date-picker">
    <!-- Date picker -->
    <div md-theme="{{mdTheme}}">
      <!-- Current day of week -->
      <md-toolbar class="md-hue-2 mdc-date-picker__current-day-of-week">
        <span>{{ moment(selected.date).format('dddd') }}</span>
      </md-toolbar>

      <!-- Current date -->
      <md-toolbar class="mdc-date-picker__current-date">
        <span>{{ moment(selected.date).format('MMM') }}</span>
        <strong>{{ moment(selected.date).format('DD') }}</strong>
        <a ng-click="displayYearSelection()">{{ moment(selected.date).format('YYYY') }}</a>
      </md-toolbar>

      <!-- Calendar -->
      <div class="mdc-date-picker__calendar" ng-if="!yearSelection">
        <div class="mdc-date-picker__nav">
          <md-button class="md-fab md-primary" ng-click="previousMonth()">
            <i class="mdi mdi-chevron-left"></i>
          </md-button>

          <span>{{ activeDate.format('MMMM YYYY') }}</span>

          <md-button class="md-fab md-primary" ng-click="nextMonth()">
            <i class="mdi mdi-chevron-right"></i>
          </md-button>
        </div>

        <div class="mdc-date-picker__days-of-week">
          <span ng-repeat="day in daysOfWeek">{{ day }}</span>
        </div>

        <div class="mdc-date-picker__days">
                    <span class="mdc-date-picker__day mdc-date-picker__day--is-empty"
                          ng-repeat="x in emptyFirstDays">&nbsp;</span><!--

                 --><div class="mdc-date-picker__day"
                         ng-class="{ 'mdc-date-picker__day--is-selected': day.selected,
                                     'mdc-date-picker__day--is-today': day.today }"
                         ng-repeat="day in days">
          <a ng-click="select(day)">{{ day ? day.format('D') : '' }}</a>
        </div><!--

                 --><span class="mdc-date-picker__day mdc-date-picker__day--is-empty"
                          ng-repeat="x in emptyLastDays">&nbsp;</span>
        </div>
      </div>

      <!-- Year selection -->
      <div class="mdc-date-picker__year-selector" ng-show="yearSelection">
        <a class="mdc-date-picker__year"
           ng-class="{ 'mdc-date-picker__year--is-active': year == activeDate.format('YYYY') }"
           ng-repeat="year in years"
           ng-click="selectYear(year)"
           ng-if="yearSelection">
          <span>{{year}}</span>
        </a>
      </div>

      <!-- Actions -->
      <div class="md-actions mdc-date-picker__actions" layout="row" layout-align="end">
        <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="closePicker()">Ok</md-button>
      </div>
    </div>
</md-dialog>
